.widgets {
  flex: 0.3;
  padding-bottom: 20px;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
  margin-left: 8px;
}

.widgets__SearchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
  padding-bottom: 20px;
}

.widgets__widgetContainer h2 {
  margin: 0;
  font-size: 22px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.widgets__header > .MuiSvgIcon-root {
  color: var(--twitter-color);
}

.widgets__copyright {
  padding: 10px;
  background-color: #f5f8fa;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.widgets__copyright > p {
  margin: 10px;
  color: #3d3d3d;
  font-size: 15px;
}

.widgets__copyright > p a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .widgets {
    display: none;
  }
}
